<?xml version="1.0"?>
<launch>
   <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
   <param name="destination_frame" value="/base_link"/>
   <param name="cloud_destination_topic" value="/merged_cloud"/>
   <param name="scan_destination_topic" value="/scan"/>
   <param name="laserscan_topics" value="/laser/scan /laserscan_kinect/scan"/>
   <param name="angle_min" value="-3.146"/>
   <param name="angle_max" value="3.146"/>
   <param name="range_min" value="0.1"/>
   </node>

</launch>
